.First-box {
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: red;
    z-index: 2;
}

.Second-box {
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: green;
    z-index: 1;
}

.Sec-box {
    position: absolute;
}

.Third-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-color: blue;
}